package {{packageName}};
{{#imports}}

import {{.}};
{{/imports}}

{{#hasFunctions}}
import com.google.common.base.Function;
{{/hasFunctions}}
{{#hasPredicates}}
import com.google.common.base.Predicate;

{{/hasPredicates}}
import javax.annotation.Generated;
import javax.annotation.Nullable;

@Generated("com.codereligion.hammock.compiler.FunctionalCompiler")
public final class {{simpleSourceName}}_ {
    {{#functions}}

{{> nullsafe-function}}
    {{/functions}}
    {{#predicates}}

{{> nullsafe-predicate}}
    {{/predicates}}

    private {{simpleSourceName}}_() {

    }
    {{#functions}}

    public static Function<{{simpleSourceName}}, {{simpleTargetName}}> {{name}}() {
        return {{camelCaseName}}.INSTANCE;
    }
    {{/functions}}
    {{#predicates}}

    public static Predicate<{{simpleSourceName}}> {{name}}() {
        return {{camelCaseName}}.INSTANCE;
    }
    {{/predicates}}

}
